.col-lg-12{
  background-color: #193e55;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2px;
  margin-top: 2px;
  border-radius: 3px;
}

.col-lg-12 p {
  color: #eebd1e;
  padding: 20px;
}

.col-lg-9 {
  background-color: #193e55;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2px;
  margin-top: 2px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.responsive{
  height: 101px;
  width: auto;
  float: right;
}

.col-lg-3{
  background-color: #193e55;
  width: 30%;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2px;
  margin-top: 2px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.col-lg-9 p {
  color: #eebd1e;
  padding: 10px;
}

.col-lg-9 a {
  color: #eebd1e;
  padding: 10px;
  text-decoration: none;
}

.col-lg-2 {
  padding-left: 0px;
  border-radius: 3px;
}

.col-lg-10 {
  padding: 20px;
  border-radius: 3px;
}

input {
  border-radius: 3px;
}

button {
  background-color: #193e55;
  color: #eebd1e;
  border-style: none;
  display: inline-block;
  padding: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 3px;
  outline: 0px;
  margin-bottom: 5px;
}

button:hover {
  background-color: #255877;
  color: #d4d127;
}

button:after {
  border: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 150px;
  background-color: #193e55;
  border-radius: 3px;
}

li a {
  display: block;
  color: #eebd1e;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
}

li a:hover {
  background-color: #4a78b4;
  text-decoration: none;
  border-radius: 3px;
  color: #c2eed1;
}

.active {
  background-color: #eebd1e;
}

.active a {
  color: #193e55;
}

.footer {
  color: #eebd1e;
}

.glyphicon {
  color: #eebd1e;
}

p{
  padding: 0px;
  margin: 0px;
}